### Example user template template

# IntelliJ project files
.idea
*.iml
/build
out
gen
# Created by .ignore support plugin (hsz.mobi)
bower_components/
/node_modules
/app/styles
/app/templates/styles
/app/*.html
.tmp/
*.css