// import MUI colors
@import "../../bower_components/mui/src/sass/mui.scss";
@import "../../bower_components/mui/src/sass/mui/colors";

// customize MUI variables
$mui-primary-color: mui-color('blue', '500');
$mui-primary-color-dark: mui-color('blue', '700');
$mui-primary-color-light: mui-color('blue', '100');

$mui-accent-color: mui-color('pink', 'A200');
$mui-accent-color-dark: mui-color('pink', 'A100');
$mui-accent-color-light: mui-color('pink', 'A400');

// import MUI email SASS
@import "../../bower_components/mui/src/email/mui-email-inline";